<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>animationbuttonnormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{172,79}</string>
			<key>spriteSourceSize</key>
			<string>{176,80}</string>
			<key>textureRect</key>
			<string>{{0,0},{172,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>animationbuttonpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{172,79}</string>
			<key>spriteSourceSize</key>
			<string>{176,80}</string>
			<key>textureRect</key>
			<string>{{0,79},{172,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{700,644}</string>
			<key>spriteSourceSize</key>
			<string>{700,644}</string>
			<key>textureRect</key>
			<string>{{172,0},{700,644}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{720,416}</string>
			<key>spriteSourceSize</key>
			<string>{720,416}</string>
			<key>textureRect</key>
			<string>{{872,0},{720,416}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1280,1039}</string>
			<key>spriteSourceSize</key>
			<string>{1280,1039}</string>
			<key>textureRect</key>
			<string>{{172,644},{1280,1039}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1680,1050}</string>
			<key>spriteSourceSize</key>
			<string>{1680,1050}</string>
			<key>textureRect</key>
			<string>{{172,1683},{1680,1050}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>button_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,64}</string>
			<key>spriteSourceSize</key>
			<string>{30,64}</string>
			<key>textureRect</key>
			<string>{{0,158},{30,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>button_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,64}</string>
			<key>spriteSourceSize</key>
			<string>{30,64}</string>
			<key>textureRect</key>
			<string>{{30,158},{30,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{160,120}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{60,158},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{2,5}</string>
			<key>spriteSize</key>
			<string>{28,30}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{62,158},{28,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,222},{67,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{8,4}</string>
			<key>spriteSize</key>
			<string>{76,73}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,292},{76,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,1}</string>
			<key>spriteSize</key>
			<string>{97,94}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,365},{97,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,-1}</string>
			<key>spriteSize</key>
			<string>{115,109}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,459},{115,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,-2}</string>
			<key>spriteSize</key>
			<string>{135,125}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,568},{135,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{9,0}</string>
			<key>spriteSize</key>
			<string>{148,136}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,693},{148,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{7,3}</string>
			<key>spriteSize</key>
			<string>{160,147}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,829},{160,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{7,2}</string>
			<key>spriteSize</key>
			<string>{167,155}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,976},{167,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{171,161}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,1131},{171,161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{9,-2}</string>
			<key>spriteSize</key>
			<string>{174,165}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,1292},{174,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion/explosion_10013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-2}</string>
			<key>spriteSize</key>
			<string>{178,167}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,1466},{178,167}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion/explosion_10014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-2}</string>
			<key>spriteSize</key>
			<string>{184,168}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,1644},{184,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion/explosion_10015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-3}</string>
			<key>spriteSize</key>
			<string>{190,171}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,1828},{190,171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion/explosion_10016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-3}</string>
			<key>spriteSize</key>
			<string>{194,175}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,1683},{194,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-3}</string>
			<key>spriteSize</key>
			<string>{199,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,1858},{199,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-3}</string>
			<key>spriteSize</key>
			<string>{204,184}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,2037},{204,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-3}</string>
			<key>spriteSize</key>
			<string>{208,188}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,2221},{208,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-3}</string>
			<key>spriteSize</key>
			<string>{211,192}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,2409},{211,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-2}</string>
			<key>spriteSize</key>
			<string>{215,195}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,2601},{215,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{9,-2}</string>
			<key>spriteSize</key>
			<string>{218,199}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,2796},{218,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{9,-2}</string>
			<key>spriteSize</key>
			<string>{220,201}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,2995},{220,201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{7,4}</string>
			<key>spriteSize</key>
			<string>{218,193}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{872,416},{218,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,3}</string>
			<key>spriteSize</key>
			<string>{216,196}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1090,416},{216,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,3}</string>
			<key>spriteSize</key>
			<string>{218,199}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1306,416},{218,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{198,202}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1592,0},{198,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{4,2}</string>
			<key>spriteSize</key>
			<string>{191,205}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1592,202},{191,205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{8,2}</string>
			<key>spriteSize</key>
			<string>{182,207}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1592,407},{182,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-5}</string>
			<key>spriteSize</key>
			<string>{176,195}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1790,0},{176,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,-5}</string>
			<key>spriteSize</key>
			<string>{176,197}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1790,195},{176,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,6}</string>
			<key>spriteSize</key>
			<string>{172,176}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,2018},{172,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,7}</string>
			<key>spriteSize</key>
			<string>{170,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,2194},{170,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{13,8}</string>
			<key>spriteSize</key>
			<string>{169,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,2371},{169,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,8}</string>
			<key>spriteSize</key>
			<string>{168,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,2548},{168,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,9}</string>
			<key>spriteSize</key>
			<string>{166,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,2725},{166,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{13,10}</string>
			<key>spriteSize</key>
			<string>{165,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,2902},{165,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,10}</string>
			<key>spriteSize</key>
			<string>{164,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,3079},{164,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{12,11}</string>
			<key>spriteSize</key>
			<string>{163,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,3257},{163,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{11,12}</string>
			<key>spriteSize</key>
			<string>{163,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,3435},{163,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,13}</string>
			<key>spriteSize</key>
			<string>{162,176}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,3613},{162,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{9,14}</string>
			<key>spriteSize</key>
			<string>{159,175}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{0,3789},{159,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{7,15}</string>
			<key>spriteSize</key>
			<string>{156,174}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1790,392},{156,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{6,17}</string>
			<key>spriteSize</key>
			<string>{153,171}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1222,3196},{153,171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion/explosion_10045.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{4,17}</string>
			<key>spriteSize</key>
			<string>{151,171}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1966,0},{151,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10046.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{4,17}</string>
			<key>spriteSize</key>
			<string>{151,172}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1966,171},{151,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10047.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,17}</string>
			<key>spriteSize</key>
			<string>{150,172}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{1966,343},{150,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10048.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,17}</string>
			<key>spriteSize</key>
			<string>{150,172}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2117,0},{150,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10049.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{150,173}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2117,172},{150,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10050.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{150,173}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2117,345},{150,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10051.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{151,173}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2267,0},{151,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10052.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{151,173}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2267,173},{151,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10053.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{152,174}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2418,0},{152,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10054.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{152,174}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2418,174},{152,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10055.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{152,174}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2418,348},{152,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10056.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{152,176}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2570,0},{152,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10057.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{152,176}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2570,176},{152,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10058.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{153,176}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2722,0},{153,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10059.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,18}</string>
			<key>spriteSize</key>
			<string>{153,176}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2722,176},{153,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10060.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2875,0},{154,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10061.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2875,177},{154,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10062.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2875,354},{154,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10063.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,177}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3029,0},{154,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10064.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3029,177},{154,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10065.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3029,355},{154,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10066.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3183,0},{154,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10067.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{154,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3183,178},{154,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10068.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,20}</string>
			<key>spriteSize</key>
			<string>{154,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3183,356},{154,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10069.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,20}</string>
			<key>spriteSize</key>
			<string>{154,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3337,0},{154,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10070.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,20}</string>
			<key>spriteSize</key>
			<string>{154,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3337,179},{154,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10071.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,20}</string>
			<key>spriteSize</key>
			<string>{154,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3337,358},{154,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10072.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,20}</string>
			<key>spriteSize</key>
			<string>{154,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3491,0},{154,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10073.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,20}</string>
			<key>spriteSize</key>
			<string>{154,180}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3645,0},{154,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion/explosion_10074.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,21}</string>
			<key>spriteSize</key>
			<string>{154,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3825,0},{154,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10075.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{4,21}</string>
			<key>spriteSize</key>
			<string>{153,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2722,352},{153,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10076.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{4,21}</string>
			<key>spriteSize</key>
			<string>{153,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3491,179},{153,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10077.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,21}</string>
			<key>spriteSize</key>
			<string>{152,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2570,352},{152,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10078.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{4,21}</string>
			<key>spriteSize</key>
			<string>{151,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{2267,346},{151,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10079.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{4,22}</string>
			<key>spriteSize</key>
			<string>{151,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3491,358},{151,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10080.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,22}</string>
			<key>spriteSize</key>
			<string>{150,179}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3644,179},{150,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10081.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{3,22}</string>
			<key>spriteSize</key>
			<string>{149,178}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3794,179},{149,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10082.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{2,24}</string>
			<key>spriteSize</key>
			<string>{148,175}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3943,179},{148,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10083.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{1,25}</string>
			<key>spriteSize</key>
			<string>{145,173}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3644,358},{145,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10084.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,25}</string>
			<key>spriteSize</key>
			<string>{142,172}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3789,358},{142,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10085.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-2,26}</string>
			<key>spriteSize</key>
			<string>{139,171}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3931,358},{139,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10086.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-5,26}</string>
			<key>spriteSize</key>
			<string>{134,170}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{172,3363},{134,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10087.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-7,27}</string>
			<key>spriteSize</key>
			<string>{130,168}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{172,3533},{130,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10088.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-7,29}</string>
			<key>spriteSize</key>
			<string>{129,164}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{172,3701},{129,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion/explosion_10089.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-7,56}</string>
			<key>spriteSize</key>
			<string>{128,111}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{3979,0},{128,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion/explosion_10090.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-7,56}</string>
			<key>spriteSize</key>
			<string>{128,110}</string>
			<key>spriteSourceSize</key>
			<string>{320,240}</string>
			<key>textureRect</key>
			<string>{{172,3865},{128,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>rocket.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{10,0}</string>
			<key>spriteSize</key>
			<string>{119,376}</string>
			<key>spriteSourceSize</key>
			<string>{400,378}</string>
			<key>textureRect</key>
			<string>{{306,3363},{119,376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>atlas0.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>atlas0.png</string>
	</dict>
</dict>
</plist>
